# ignore Maven generated target folders
target
# ignore eclipse files
.project
.classpath
.settings
.scala_dependencies
.externalToolBuilders
.factorypath
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
# generated class folder
gen
.mvn
# ignore native-image reports
reports
# classes
*.class
# jars
*.jar
# built modules
mods
mlib
# jqwik temp files
.jqwik-database